@media (max-width: 467px) {

  #menu li {
    display: inline-block;
  }

    #container_header img {
      order: 1;
    }
  
    #subscribe {
      order: 2;   
      position: absolute;
      top: 43px; 
      right: 10px;
    }  

    #menu {
      order: 3;
      padding-top: 35px;
      padding-bottom: 10px;  
      width: 100%;
      display: flex;
      margin-right: 0 !important;
      justify-content: center;
      font-size: 1.2em;
    }

    #navig {
      width: 100%;
      display: flex;
      justify-content: center;
    }

  li.top_barre {
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    width: 50%;
    margin: 0 0 0 0;
}  

li#heb1 {
text-align: center;
}

li#heb2 {
  text-align: center;
}

 .top_barre:hover {
      border-top: none;
      padding-top: 0;
      padding-bottom: 10px;
      border-bottom: 2px solid #0065fc;
    }

#searchbar {
  margin-left: 35px;
  width: 85vw;
}

#zone_recherche{
  margin-left: 0;
}

input#texte_recherche {
  width: 67vw;
}

#icone_option {
  margin-left: -65px;
}

#hebergement {
  width: 100%;
  margin-right: 15px;

}

img.hebimg {
  width: 90%;
  min-width: 248px;
}

figcaption.overlay {
  width: 78.2%;
   min-width: 247px;
   font-size: 0.8em;
}


  #conteneur {
    flex-direction: column;
  }
  
  }  