* {
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

/* Hebergements */

.hebergement > *{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* activité à Marseille */

section.activite > * {
    height: 100%;
}

div.activite_grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activite_box {   
    transform: translateY(1%);

}

.activite_box2 {    
    transform: translateY(1%);
}
/* FOOTER */

.footer {
    height: auto;
    width: auto;
}

.conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}