* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 80%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

/* Options */

section.options > body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.icone_option {
    display: flex;
    flex-wrap: wrap;
}

/*MIDPAGE */

section.midpage {
    display: flex;
    flex-direction: column-reverse;
}

/* Hebergements */

.hebergement > *{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    width: 991.98px;
    margin-left: 0;
}

/* activité à Marseille */

section.activite > * {
    height: 100%;
}

div.activite_grid {
    display: flex;
    flex-direction: column;

}

/* FOOTER */

.footer {
    height: 100%;
    width: 100%;
}

.conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}