@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap);

/*CSS de la page*/

*{

}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0065FC;
    text-decoration: none;
}

section.page {
    margin-left: 35px;
}
 
/* Media Queries */

@media all and (max-device-width: 1024px) 
{

body {
    width: auto;
    margin: auto;
}

}

/* Tête de la page */

header.header {
    display: flex;
    align-items:center;  
    height: 50%;
    margin-top: 2%;
}

header.header img {
    width: 80px;
    margin-left: 10px;
}

section.top-page {
    height: 10vh;
}

h1.titre1 {
    font-weight: 800;
    font-size: 20px;
}

.soustitre1 {
font-weight: 500;
font-size: 13px;
}

.landing-page {
    line-height: 10px;
}

/* menu  de navigation */

nav.nav {
    display: flex;
    align-content: space-between;
    list-style: none;
    margin-left: 65%;
    width: 340px;
}

nav.nav li {
margin-left: 60px;
margin-top: -5vh;
padding-top: 55px;
}

nav.nav li:hover {
    border-top: 2px solid #0065FC;
}

li.inscription {
    font-weight: 700;
    text-decoration: none;
    color: #0065FC;
}

li :hover {
    text-decoration:none;
    font-weight: 600;
    color: #0065FC;
}

nav li.inscription a {
    color: #0065FC;
}


/* Zone de recherche */

#zone_recherche {
    display: flex;
    border: 0.2px solid #F2F2F2;
    width: 350px;
    border-radius: 10px;
    margin-top: 20px;    
    font-weight: 700;
    font-size: 14px;
}

#bouton_recherche {
    background-color: #0065FC;
    font-weight: 800;
    color: #F2F2F2;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 35px;
    width: 150px;
    outline-style:none;
    font-weight: 700;
    font-size: 14px;
}

#texte_recherche {
    border: 0px;
    font-weight: 800;
    width: 250px;
    padding-left: 5px;
    text-align: center;
    outline-style:none
}

input#texte_recherche
{
    border: none;

}

#icone {
    display: flex;
    background-color: rgb(221, 221, 221);
    height: 35px;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    align-items: center;
}

/* Icones */

.fa-money-bill-wave {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC;
    background-color: #d0e2fc; 
    border-radius: 100%;
    width: 40px;
    transform: translateX(60px);      
}

.fa-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC;
    background-color: #d0e2fc; 
    border-radius: 100%;
    width: 40px;
    transform: translateX(55px);      
}

.fa-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC;
    background-color: #d0e2fc; 
    border-radius: 100%;
    width: 40px;
    transform: translateX(60px);      
}

.fa-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC;
    background-color: #d0e2fc; 
    border-radius: 100%;
    width: 40px;
    transform: translateX(60px);       
}

/*options*/ 

section.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    width: 45%;   
    margin-top: 15px;

}

section.options div {
    display: flex;
    margin: 10px;   
}

.economique {
    border: 2px solid rgb(221, 221, 221);
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 20px;
    border-radius: 50px;
}

.familial {
    border: 2px solid rgb(221, 221, 221);
    margin: 10px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 50px;
}

.love {
    border: 2px solid rgb(221, 221, 221);
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 20px;
    border-radius: 50px;
}

.dogs {
    border: 2px solid rgb(221, 221, 221);
    margin: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 15px;
    border-radius: 50px;
    width: 150px;
}

.economique:hover {
    border: solid 3px #0065FC;
}

.familial:hover {
    border: solid 3px #0065FC;
}

.love:hover {
    border: solid 3px #0065FC;
}

.dogs:hover {
    border: solid 3px #0065FC;
}

/* Informations logements ville */

#infos {
    display: flex;
    justify-content: space-between;
    width: 24%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    font-weight: 800;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.many {
position: absolute;
transform: translateX(40px);
}

/* Hebergements à Marseille */

.hebergement {    
    background-color: #F2F2F2;
    border-radius: 20px;   
    padding: 48px;
    height: 63vh;   
    width: 132vh; 
    margin-bottom: 10px;  
    padding-right: -5px;
}
    
.titheb {
    font-weight: 800;
    font-size: 24px;
    margin-top: -20px;  
    width: 200px;
    height: 50px;   
}

.soustitre2 {    
    font-weight: 700;
    font-size: 18px;
    transform: translate(0px, -30px);
    position: absolute;
}

.soustitre2:hover{
color: #0065FC;
}

div.overlay {
    background-color: #ffffff;
    width: 330px;
    height: 70px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(135px);
    }

#desc {
display: flex;
flex-direction: column;
font-size: 18px;
transform: translateY(-4px);
margin: 5px;
}

.nuit {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hebergement-images {   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (2, 300px);
    margin-bottom: 50px;
    margin-top: 10px;
    column-gap: 30px;
    row-gap: 15px;
    margin-left: -8px;
}

.Cannebiere { 
    background: url(../images/hebergements/4_small/Auberge\ la\ Cannebiere.jpg);
    height: 220px;
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    background-size: cover; 
    order: 1;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
}

.Cannebiere:hover{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}

.port {     
    background: url(../images/hebergements/4_small/Hôtel\ du\ port.jpg);
    height: 220px;
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
    order: 2;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
    background-position-y: -50px;
}

.port:hover{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}

.mouettes { 
    background: url(../images/hebergements/4_small/Hôtel\ les\ mouettes.jpg);
    height: 220px;
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
    order: 3;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
    background-position-y: -65px;
}

.mouettes:hover{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}

.mer {
    background: url(../images/hebergements/4_small/Hôtel\ de\ la\ mer.jpg);
    height: 220px;
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
    order: 4;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
    background-position-y: -110px;

}

.mer:hover{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}

.Panier {
    background: url(../images/hebergements/4_small/Auberge\ Le\ Panier.jpg);
    height: 220px;
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
    order: 5;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
    background-position-x: -10px

}

.Panier:hover{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}

.Amina { 
    background: url(../images/hebergements/4_small/Hôtel\ chez\ Amina.jpg);
    height: 220px;
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
    background-position-y: -245px;
    order: 6;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
}

.Amina:hover{
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
}
.fa-star {
    color: #0065FC;
}

#gris {
    color: #F2F2F2;
}

.nom {
    font-weight: 800;
}

/* Aside Les plus populaires */

div.coté {   
    float:  right;
    width: 60vh;
    height: 73.9vh;
    background-color: #F2F2F2;
    border-radius: 20px;   
    transform: translate(-8%, -101.5%);  
    margin-left: -25px;   
}

div.popu { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 590px;
    width: 550px;    
}

    .titpopu {
    font-weight: 800;
    font-size: 22px;
    padding-left: 45px;
    padding-top: 10px;
    margin-top: 16px;
}

.soleil { 
    background: url(../images/hebergements/4_small/Hôtel\ le\ soleil\ du\ matin.jpg);
    height: 160px;
    width: 390px;
    border-radius: 20px;
    margin: 2px;
    background-size: 100%;   
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
    background-position-y: -70px;
    background-position-x: -50px;
}

.coeur_eau { 
    background: url(../images/hebergements/4_small/Au\ coeur\ de\ l_eau.jpg);
    height: 160px;
    width: 390px;
    border-radius: 20px;
    margin: 2px;
    background-size: 100%;     
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
    margin-left: -5px;
    background-position-y: -80px;
    background-position-x: -50px;
}

.bleu_blanc { 
    background: url(../images/hebergements/4_small/Hôtel\ Tout\ bleu\ et\ blanc.jpg);
    height: 160px;
    width: 390px;
    border-radius: 20px;
    margin: 2px;
    background-size: 100%;     
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px gray;
    margin-left: -5px;
    background-position-y: -225px;
    background-position-x: -70px;
}

div.overlay2 {
    background-color: #ffffff;
    width: 160px;
    height: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    transform: translate(219px, -5px);
    border-top: 5px solid #ffffff;
}

.fa-chart-line {      
    position: absolute;
    top: 40px;
    right: 50px;
}

#desc2 {
    display: flex;
    justify-content: center;
    font-size: 14px;   
    margin-top: 5px;
    margin-bottom: 5px;
}

.stars {
transform: translate(15px, 35px);
}

.nom1 {
    margin-left: -18px;
    font-weight: 800;
}

/*Activité à Marseille */

.activite_titre {
    font-weight: 800;
    font-size: 20px;
    margin-left: 15px;
}

.activite_grid {
    display: grid;
    justify-content: space-between;
    min-height: 80vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (4, 300px);
    margin-bottom: 50px;
    column-gap: 50px;
    row-gap: 25px;
    margin-left: 15px;
}

.actitit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}

#activite_box {
    background-color: #ffffff;
    width: 373px;
    height: 70px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;  
    transform: translateY(260px);
}

#activite_box2 {
    background-color: #ffffff;
    width: 380px;
    height: 70px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;  
    transform: translateY(647px);
}

.grid_activite1
{
    background-image: url(../images/activites/3_medium/vieux_port.jpg);
    grid-column: 1/1;
    grid-row: 1/3;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}

.grid_activite2
{
    background-image: url(../images/activites/3_medium/fort_de_pomegues.jpg);
    grid-column: 2/2;
    grid-row: 1/2;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;

}

.grid_activite3
{
    background-image: url(../images/activites/3_medium/iles_du_frioul.jpg);
    grid-column: 2/2;
    grid-row: 2/2;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;

}

.grid_activite4
{
    background-image: url(../images/activites/3_medium/parc_national_des_calanques.jpg);
    grid-column: 3/3;
    grid-row: 1/3;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}

.grid_activite5
{
    background-image: url(../images/activites/3_medium/Notre_dame_de_la_garde.jpg);
    grid-column: 4/4;
    grid-row: 1/2;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;

}

.grid_activite6
{
    background-image: url(../images/activites/3_medium/parc_longchamp.jpg);
    grid-column: 4/4;
    grid-row: 2/2;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}


/*Footer de la page*/

footer.footer {
    display: flex;
    width: 100%;
    height: 200px;
    list-style: none;
    justify-content: space-between;
    background-color: #F2F2F2;
}

li.bold {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.conteneur {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-top: 1%;
    margin-bottom: auto;
    margin-left: 20px;
    
}

section.conteneur li {
    margin: 10px;
}