@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap);

/*----- 
        CSS de la page
-----*/

*,
::before,
::after {
  margin: 0 0 0 0;
  box-sizing: border-box;
  padding: 0;
}

hmtl,
body {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065fc;
  text-decoration: none;
}

/*---- 
        Tête de la page
-----*/

#container_header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 95%;
  height: 100%;
  margin-top: 25px;
}

#container_header img {
  width: 90px;
  height: 45px;
  margin: 0 0 -10px;
  margin-left: 35px;
}

/*---- 
        menu  de navigation 
----*/

#menu {
  margin-left: auto;
  margin-right: 25px;
}

#menu li {
  display: inline;
}

#navig {
  font-size: 1em;
}

nav ul li {
  list-style-type: none;
}

.top_barre {
  margin: 0 25px 0 25px;
  scroll-behavior: smooth;
}

.top_barre:hover {
  border-top: 2px solid #0065fc;
  padding-top: 43px;
  font-weight: 700;
  color: #0065fc;
  transition: 0.002s all;
}

#subscribe {
  font-weight: 700;
  text-decoration: none;
  color: #0065fc;
  display: inline-block;
  width: 80px;
  position: relative;
  text-align: center;
}

#subscribe a {
  color: #0065fc;
}

#subscribe:before{
  content: '';
  border: 2px solid transparent;
  position: absolute;
  top: -2px;
  left: -2px;
}

#subscribe:hover {
  padding-bottom: 4px;
}

#subscribe:hover:before {
  animation: hover 0.5s linear forwards;
}

@keyframes hover {

  0% {
    width: 0;
    height: 0;
    border-top-color: #0065fc;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color:#0065fc;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #0065fc;
    border-right-color: #0065fc;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

#subscribe:after{
  content: '';
  border: 2px solid transparent;
  position: absolute;
  top: -2px;
  left: -2px;
}

#subscribe:hover:after {
  animation: hover2 0.5s linear forwards;
}

@keyframes hover2 {

  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #0065fc;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #0065fc;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color:  #0065fc;
    border-left-color:  #0065fc;
  }
}


/*---- 
          
          Titre de la page 

----*/

#landing-page {
  line-height: 1.5em;
  margin-top: 30px;
  margin-left: 35px;
}

#titre1 {
  font-weight: 800;
  font-size: 1.5em;
}

#soustitre1 {
  font-weight: 500;
  font-size: 0.9em;
}

/*---- 
          Zone de recherche
----- */

#zone_recherche {
  display: flex;
  border: 0.2px solid #f2f2f2;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: 700;
  width: 320px;
  margin-left: 35px;
}

#bouton_recherche {
  background-color: #0065fc;
  color: #f2f2f2;
  border: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 45px;
  outline-style: none;
  font-weight: 700;
  font-size: 0.9em;
  cursor: pointer;
  padding: 10px;
}

#texte_recherche {
  border: 0px;
  font-weight: 800;
  padding-left: 5px;
  text-align: center;
  outline-style: none;
}

input#texte_recherche {
  border: none;
}

#icone {
  display: flex;
  background-color: rgb(221, 221, 221);
  height: 45px;
  width: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#bouton_recherche i {
  display: none;
}

/*options*/

div#options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0 10px 35px;
}

div#options div {
  display: flex;
  flex-wrap: wrap;
}

#icone_option {
  padding: 10px;
  font-weight: 700;
  font-size: 0.9em;  
}

#filtres {
  font-weight: 700;
  font-size: 0.9em;
}

.libelle {
  border: 2px solid rgb(221, 221, 221);
  margin: 10px;
  padding: 0.7rem 1rem 0.7rem 3rem;
  border-radius: 50px;
  transition: 0.4s all;
  height: 42px;
  position: relative;
}

.libelle:after {
  position: absolute;
  content: "";
  top: -1px;
  left: 6px;
  width: 0;
  height: 38px;
  background: #0065fc;
  transition: all .35s;
  border-radius: 50px;
  z-index: -1;
}

.libelle:hover {
  color: white;
}

.libelle:hover:after {
  width: 97%;
}

#dogs {
  border: 2px solid rgb(221, 221, 221);
  margin: 10px;
  padding: 0.3rem 0.5rem 0.3rem 3rem;
  border-radius: 50px;
  transition: 0.4s all;
  height: 42px;
  display: flex;
  align-items: center;  
  position: relative;
}

#dogs:after {
  position: absolute;
  content: "";
  top: -1px;
  left: 6px;
  width: 0;
  height: 38px;
  background: #0065fc;
  transition: all .35s;
  border-radius: 50px;
  z-index: -1;
}

#dogs:hover {
  color: white;
}

#dogs:hover:after {
  width: 97%;
}


/* Icones */

i.fa-money-bill-wave {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e2fc;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  transform: translate(115%, 21%);
  z-index: 1;
}

i.fa-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e2fc;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  transform: translate(50px, 9.5px);
  z-index: 1;
}

i.fa-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e2fc;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  transform: translate(115%, 21%);
  z-index: 1;
}

i.fa-dog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e2fc;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  transform: translate(115%, 20%);
  z-index: 1;
}

.iconebleu {
  color: #0065fc;
}

.libelle:hover {
  border: solid 3px #0065fc;
  transition: 0.2s all;
}

#dogs:hover {
  border: solid 3px #0065fc;
  transition: 0.2s all;
}

/* Informations logements ville */

#infos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  font-size: 0.9em;
  margin-left: 35px;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  font-weight: 800;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

i.fa-info {
  transform: scale(0.7);
}

/* Section Mid page */

#midpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 691px;
  align-items: center;
  margin-bottom: 10px;
}

/* Hebergements à Marseille */

#hebergement {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px;
  width: 69.5%;
  height: 100%;
  margin: 15px 0 15px 15px;
}

#titheb {
  font-weight: 800;
  font-size: 1.5em;
  width: 100%;
  margin: 15px 0 10px 10px;
}

.desc {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1em;
  text-align: left;
}

.nuit {
  margin-top: 5px;
  margin-bottom: 5px;
}

#hebergement-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 25px 0 0 0;
  height: 80%;
  width: 100%;
}

img.hebimg {
  border-radius: 20px;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 10px gray;
  transition: 0.8s all;
  height: 220px;
  width: 350px;
  margin: 1rem;
  object-fit: cover;

}

figcaption.overlay {
  background-color: #ffffff;
  width: 345px;
  height: 90px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 13px;
  font-size: 0.9em;
  font-weight: 600;
  transform: translate(18px, -114px);
  position: absolute;
  padding: 1rem;
}

.hebimg:hover {
  transform: scale(1.05);
  transition: 0.4s all;
  border-radius: 20px;
  
}

.blue {
  color: #0065fc;
}

.gris {
  color: #f2f2f2;
}

.nom {
  font-weight: 800;
}

#soustitre2 {
  font-weight: 700;
  font-size: 1.2em;
  transform: translate(18px, 0);
  position: absolute;
}

#soustitre2:hover {
  color: #0065fc;
}

/*...
 Les plus populaires
 ... */

#coté {
  width: 487.5px;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 100%;
}

#popu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h3#titpopu {
  font-weight: 800;
  font-size: 1.5em;
  padding-left: 45px;
  padding-top: 10px;
  margin-top: 16px;
  margin-bottom: 20px;
}

div#topPopu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.fa-chart-line {
  font-size: 1.5em;
  margin: 16px 45px 20px 0;
  padding-top: 10px;
}

#soleil {  
  height: 160px;
  width: 85%;
  border-radius: 20px;
  margin: 10px;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
}

#coeur_eau {  
  height: 160px;
  width: 85%;
  border-radius: 20px;
  margin: 10px;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
}

#bleu_blanc {
  height: 160px;
  width: 85%;
  border-radius: 20px;
  margin: 10px;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
}

.figurepop {
  height: 160px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 45px;
}

figcaption.overlay2 {
  background-color: #ffffff;
  width: 165px;
  height: 160px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2%;
  font-weight: 600;
  transform: translate(218px, -174px);
  border-top: 5px solid #ffffff;
}

.desc2 {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.stars {
  transform: translate(1vw, 2vh);
}

#nom1 {
  font-weight: 800;
}

.nuit2 {
  font-size: 0.9em;
  line-height: 30px;
}

/* ...
                Activité
... */

section#activite {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#activite_titre {
  font-weight: 800;
  font-size: 1.2em;
  margin: 20px 0 20px 35px;
}

#activite_grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-bottom: 25px;
  margin-left: 35px;
  margin-right: 35px;
}

.actitit {
  display: flex;
  justify-content: left;
  padding-left: 25px;
  align-items: center;
  font-weight: 700;
  font-size: 1em;
}

/* VIEUX PORT */

div.activite_div {
  margin: 10px;
  width: 340px;
}

img#activport {
  height: 715px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
}

div.fort {
  margin: 10px 0 -50px 15px;
}

img#activfort {
  height: 350px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
}

img#activfrioul {
  height: 350px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
}

img#activcalanques {
  height: 715px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
}

div.NDG {
  margin: 10px 0 -50px 15px;
}

img#activNDG {
  height: 350px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
}

img#activparc {
  height: 350px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  opacity: 1;
}

/*---- 
          OVERLAY BOX 
----*/

.activite_box {
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateY(-50px);
  height: 50px;
  width: 340px;
}

.activite_box2 {
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateY(-50px);
  position: absolute;
  width: 340px;
  height: 50px;
}

/*---- 
          Footer de la page
----*/

footer#footer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.listbas {
  list-style: none;
  font-size: 1em;  
}

.listbas a:hover {
  font-weight: 700;
}

li.bold {
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

div#conteneur {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  padding-top: 1%;
  padding-bottom: 1.5%;
  margin-bottom: auto;
  margin-left: 20px;
  line-height: 29px;
}

div.conteneur li {
  margin: 15px 0 0 15px;
}
